<div class=table table-responsive>
<table class= table>
<tr>
	<th>Name</th>
	<th> Reply </th>
</tr>
<% replies.each do |r| %>
<tr>
<td class=col-md-3><%= r.name %></td> 
<td class=col-md-3><%= r.body %></td>
</tr>
<% end %> 
</table>
</div>