<div class="full">
<div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Welcome to R T C</h1>
                <p>A smart package delivery solution to help you know each and every status and information related to your pacakges. Just login and you can check your cargo status , its delivery date and ammount.</p>
            </div>
        </div>
        <div class="text-center btn-welcome">
        <a ng-click="signIn()" class="btn btn-info"> Lets Get Started </a>
        </div>
    </div>
</div>
<section id="services" class="services bg-default">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Personal Account</strong>
                                </h4>
                                <p>By Having a Personal account You can have viablity to look the history of your cargos and much important details.reserving a cargo is not a big deal now.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Smart Tracking</strong>
                                </h4>
                                <p>Smart tracker let you know about details and status
                                of your current package that are going through process.On each process we make sure to update the status os your beloved pacakges</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Price Calculator</strong>
                                </h4>
                                <p>Price calculater helps you to find amount/ charges that you have to pay to deliver your package to certain place. </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Blog</strong>
                                </h4>
                                <p>Want to know about our promotions and careers. Than Blog is the place to find such information.</p>
                                <a href="#/blog">View blog</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
    </section>
        <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3432.4112909383134!2d73.11732531469981!3d30.65054488166593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922b7b3c4152495%3A0x3a4e73d28d55e209!2sGCUF+Sahiwal+Campus+(+Xrajaaa%26SS)!5e0!3m2!1sen!2s!4v1495022444339"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3432.4112909383134!2d73.11732531469981!3d30.65054488166593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922b7b3c4152495%3A0x3a4e73d28d55e209!2sGCUF+Sahiwal+Campus+(+Xrajaaa%26SS)!5e0!3m2!1sen!2s!4v1495022444339"></a>
        </small>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Meet Us</strong>
                    </h4>
                    <p>GCUF Sahiwal
                        <br>Pakpattan chowk : Sahiwal</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>
                        </li>
                    </ul>
                    <br>
            <div class="w3-card-white">
                <h2>Developed By</h2>
                <Strong>Muhammad Asim    'asim.naveed777@<gmail class="com">gmail.com</gmail>'</Strong><br>
                <Strong>Ali Nawaz    'alinawaz1014@<gmail class="com">gmail.com</gmail>'</Strong><br>
                <Strong>Arslan Jaffer   'shaniwatt25@<gmail class="com">gmail.com</gmail>'</Strong><br>

            </div>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>