<div class=container>
	<div class = row col-md-12>
		<div class=col-md-3></div>
		<div class ="col-md-6" id="welcome_div">
			<h1 id="title_h1">Welcome to my articles</h1>
			<h2 id="welcome"><%= link_to 'READ All articles', controller: 'articles'%></h2>
			<div class = row>
				`
			</div>	
		</div>
	</div>
	<div class=col-md-3></div>
	<div class = "col-md-6 members" >

<div ng-app="myApp" ng-init="myCol='lightblue'">
<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">	
</div>
</div>

