

<section  class="panel panel-primary">
	<div class="panel-heading">
		<strong>
		<span class="glyphicon glyphicon-th"></span>About System</strong>
			<div class="pull-right header-buttons">
			</div>
		</div>
		<div class="panel-body">
			<h3>Railways Cargo tracking system (RCTS)</h3>
			<div class="w3-card-black">
				<h2>Introduction</h2>
				<p>RCTS is a website having two main modules of Cargo Reservation and Cargo Tracking</p>
			</div>
			<div class="w3-card-white">
				<h2>Reservation</h2>
				<p>User have to sign-up to the RCTS for the Reservation of the consignment, User can select the type of item to be sent, quantity of item, Station from which consignment is to be send and Station where consignment is to be send. User can search for the cargo rails. User can Select the departure date and check the availability of the cargo rail on departure date. User can pay through the credit card and payment methods like UBL Omini, and EasyPesa.</p>
			</div>
			<div class="w3-card-black">
				<h2>Tracking</h2>
				<p>User can track down where the consignment has reached, in this way User have the full control on user’s   cargo consignment. Tracking can be done by the tracking number given to the user. Tracking tells the user the status of the consignment, consignment has reached to the destination or not, received or not, by whom it is received and date and time also.</p>
			</div>
			<div class="w3-card-white">
				<h2>Freight Rates</h2>
				<p>It gives the detail of rates of each item w.r.t the weight of item and distance.</p>
			</div>
			<div class="w3-card-black">
				<h2>BLOG</h2>
				<p>This page includes the events details related to the Railways</p>
			</div>
			<div class="w3-card-white">
				<h2>Developed By</h2>
				<Strong>Muhammad Asim    'asim.naveed777@<gmail class="com">gmail.com</gmail>'</Strong><br>
				<Strong>Ali Nawaz    'alinawaz1014@<gmail class="com">gmail.com</gmail>'</Strong><br>
				<Strong>Arslan Jaffer   'shaniwatt25@<gmail class="com">gmail.com</gmail>'</Strong><br>

			</div>
		</div>
	</section>