  <label>Select Train Station</label>
  <select
  class="form-control col-md-6"
  ng-model="package.station">
  <option value="892">ABDUL HAKIM</option>
		<option value="555">ABDULLAHABAD (HALT)</option>
		<option value="765">AB-I-GUM</option>
		<option value="1041">AJNALA</option>
		<option value="1242">AKHTAR KARNANA</option>
		<option value="403">AKORA KHATTAK</option>
		<option value="694">ALA</option>
		<option value="972">ALIPUR CHATTHA</option>
		<option value="621">ALLUWALI</option>
		<option value="493">ARIF WALA</option>
		<option value="585">ASHANPUR AHP</option>
		<option value="398">ATTOCK CITY JN.</option>
		<option value="446">BADAH</option>
		<option value="306">BADAMI BAGH</option>
		<option value="1130">BADDOMALHI</option>
		<option value="473">BADIN</option>
		<option value="1115">BAHALIKE</option>
		<option value="167">BAHAWALPUR</option>
		<option value="1186">BAKHTIARABAD DOMKI</option>
		<option value="902">BALDHER</option>
		<option value="556">BALOCHABAD</option>
		<option value="1225">BANDHI</option>
		<option value="1050">BANH MIANWALA (HALT)</option>
		<option value="877">BASAL JN.</option>
		<option value="1207">BASAL SHARIF</option>
		<option value="503">BASIPPUR</option>
		<option value="609">BEHAL</option>
		<option value="796">BELELI</option>
		<option value="612">BHAKKAR</option>
		<option value="1043">BHALWAL</option>
		<option value="91">BHIRIA ROAD</option>
		<option value="21">BIN QASIM</option>
		<option value="228">BOSTAN JN.</option>
		<option value="31">BRAUDABAD</option>
		<option value="1081">BUCHIANA</option>
		<option value="575">BUDH</option>
		<option value="1054">BURJ</option>
		<option value="1052">CHAK JHUMRA JN.</option>
		<option value="383">CHAK LALA</option>
		<option value="732">CHAK SAIDA</option>
		<option value="1241">CHAK SHER MUHAMMAD</option>
		<option value="1091">CHAK TURAN</option>
		<option value="48">CHAMAN</option>
		<option value="1208">CHANAB NAGAR</option>
		<option value="1009">CHARNALI</option>
		<option value="819">CHAWINDA</option>
		<option value="771">CHHAB</option>
		<option value="524">CHHOR</option>
		<option value="250">CHICHAWATNI ROAD</option>
		<option value="1110">CHICHOKI MALLIAN</option>
		<option value="698">CHILIANWALA</option>
		<option value="1056">CHINIOT</option>
		<option value="996">CHUND</option>
		<option value="776">CHUR SHARIF (HALT)</option>
		<option value="26">DABHEJI</option>
		<option value="1209">DADU</option>
		<option value="133">DAHARKI</option>
		<option value="947">DAR UL IHSAN</option>
		<option value="894">DARKHANA</option>
		<option value="1206">DARYA KHAN</option>
		<option value="1216">DAUD KHEL</option>
		<option value="86">DAUR</option>
		<option value="1184">DERA ALLAHYAR</option>
		<option value="584">DERA DINPANAH</option>
		<option value="1019">DERA GHAZI KHAN</option>
		<option value="1185">DERA MURAD JAMALI</option>
		<option value="162">DERA NAWAB SAHIB</option>
		<option value="331">DHAUNKAL</option>
		<option value="528">DHORO NARO</option>
		<option value="364">DINA</option>
		<option value="700">DINGA</option>
		<option value="778">DOMEL</option>
		<option value="1017">DOST MUHAMMAD ABAD</option>
		<option value="12">DRIGH ROAD</option>
		<option value="189">DUNYAPUR</option>
		<option value="325">EMINABAD</option>
		<option value="1183">FAISALABAD</option>
		<option value="1113">FAROOQ ABAD</option>
		<option value="882">FATEHJANG</option>
		<option value="156">FIROZA</option>
		<option value="490">GAGOO</option>
		<option value="106">GAMBAT</option>
		<option value="330">GHAKKHAR MANDI</option>
		<option value="130">GHOTKI</option>
		<option value="534">GILAWALA</option>
		<option value="930">GOJRA</option>
		<option value="1194">GOLRA SHARIF</option>
		<option value="373">GUJAR KHAN</option>
		<option value="719">GUJJAR</option>
		<option value="328">GUJRANWALA</option>
		<option value="327">GUJRANWALA CITY</option>
		<option value="350">GUJRAT</option>
		<option value="40">GULISTAN</option>
		<option value="817">GUNNA KALAN</option>
		<option value="580">GURMANI</option>
		<option value="969">HAFIZABAD</option>
		<option value="83">HAIBAT SHAHID</option>
		<option value="693">HARIAH</option>
		<option value="900">HARIPUR HAZARA</option>
		<option value="393">HASAN ABDAL</option>
		<option value="526">HASISAR</option>
		<option value="501">HAVELI WASAWEWALA</option>
		<option value="904">HAVELIAN</option>
		<option value="50">HYDERABAD JN</option>
		<option value="769">INJRA</option>
		<option value="726">JACOBABAD JN.</option>
		<option value="402">JAHANGIRA ROAD</option>
		<option value="193">JAHANIA</option>
		<option value="521">JALU-JO-CHUNRD</option>
		<option value="589">JAMAN SHAH</option>
		<option value="1023">JAMPUR</option>
		<option value="474">JAMRANIWAH</option>
		<option value="557">JAMRAO JN.</option>
		<option value="774">JAND JN</option>
		<option value="895">JARALA</option>
		<option value="1084">JARANWALA</option>
		<option value="703">JAURAH KARNANA</option>
		<option value="788">JHALAR</option>
		<option value="772">JHAMAT</option>
		<option value="992">JHANG CITY</option>
		<option value="991">JHANG SADADR</option>
		<option value="361">JHELUM</option>
		<option value="33">JHIMPIR</option>
		<option value="1090">JHOK DITTA</option>
		<option value="29">JUNGSHAHI</option>
		<option value="476">KAHROR PAKKA</option>
		<option value="1125">KALA KHATAI</option>
		<option value="320">KALA SHAH KAKU</option>
		<option value="617">KALLUR KOT</option>
		<option value="1100">KAMALIA</option>
		<option value="324">KAMOKE</option>
		<option value="93">KANDHKOT</option>
		<option value="507">KANGANPUR</option>
		<option value="789">KANJUR</option>
		<option value="1238">KANJWANI</option>
		<option value="7">KARACHI CANTT</option>
		<option value="1205">KARACHI CITY</option>
		<option value="594">KAROR</option>
		<option value="1059">KASHMOR COLONY</option>
		<option value="515">KASUR JN.</option>
		<option value="110">KHAIRPUR</option>
		<option value="215">KHANEWAL JN</option>
		<option value="154">KHANPUR JN.</option>
		<option value="1246">KHATAKABAD</option>
		<option value="463">KHATHAR</option>
		<option value="45">KHOJAK</option>
		<option value="519">KHOKHROPAR</option>
		<option value="512">KHUDIAN</option>
		<option value="42">KILA ABDULLA</option>
		<option value="821">KILA SOBHA SINGH</option>
		<option value="784">KOLPUR</option>
		<option value="583">KOT ADU JN.</option>
		<option value="1096">KOT KHAIR DIN (HALT)</option>
		<option value="288">KOT LAKHPAT</option>
		<option value="898">KOT NAJIB ULLAH</option>
		<option value="281">KOT RADHA KISHEN</option>
		<option value="587">KOT SULTAN</option>
		<option value="89">KOT-LALLOO</option>
		<option value="38">KOTRI JN.</option>
		<option value="798">KUCHLAK</option>
		<option value="206">KUHI-TAFTAN</option>
		<option value="1211">KUNDIAN</option>
		<option value="304">LAHORE CANTT</option>
		<option value="305">LAHORE JN.</option>
		<option value="100">LAKHA ROAD</option>
		<option value="352">LALA MUSA JN.</option>
		<option value="1058">LALIAN</option>
		<option value="18">LANDHI JN.</option>
		<option value="775">LANGAR</option>
		<option value="57">LARKANA JN.</option>
		<option value="590">LEIAH</option>
		<option value="158">LIAQUATPUR</option>
		<option value="185">LODHRAN JN.</option>
		<option value="780">MACH</option>
		<option value="486">MACHHIANWALA</option>
		<option value="579">MAHMUD KOT</option>
		<option value="102">MAHRABPUR</option>
		<option value="480">MAILSI</option>
		<option value="768">MAKHAD ROAD</option>
		<option value="890">MAKHDUMPUR PAHORAN</option>
		<option value="691">MALAKWAL JN.</option>
		<option value="467">MALTI</option>
		<option value="1098">MAMU KANJAN</option>
		<option value="1222">MANDI AHMADABAD</option>
		<option value="696">MANDI BAHA UD DIN</option>
		<option value="488">MANDI BUREWALA</option>
		<option value="1097">MANJHLA BAGH</option>
		<option value="1070">MARGALA</option>
		<option value="805">MARI INDUS</option>
		<option value="1226">MARSHALLING YARD PIPRI</option>
		<option value="739">MASSAN</option>
		<option value="1129">MEHTA SUJA</option>
		<option value="35">METING</option>
		<option value="223">MIAN CHANNU</option>
		<option value="734">MIAN WALI</option>
		<option value="649">MIRPUR KHAS JN</option>
		<option value="132">MIRPUR MATHELO</option>
		<option value="1107">MISSAN KALAR</option>
		<option value="1031">MITHAN KOT</option>
		<option value="1220">MOMAN</option>
		<option value="1047">MONA</option>
		<option value="164">MUBARAKPUR</option>
		<option value="990">MUDDUKI</option>
		<option value="545">MULTAN CANTT</option>
		<option value="322">MURIDKE</option>
		<option value="573">MUZAFFARGARH</option>
		<option value="777">NAMMAL</option>
		<option value="1079">NANKANA SAHAB</option>
		<option value="1127">NARANG</option>
		<option value="824">NAROWAL JN.</option>
		<option value="84">NAWABSHAH JN.</option>
		<option value="523">NEW CHHOR</option>
		<option value="1224">NEW MULTAN CITY</option>
		<option value="1064">NISHTARABAD</option>
		<option value="405">NOWSHERA JN.</option>
		<option value="1253">NUR</option>
		<option value="482">NUR SHAH</option>
		<option value="55">ODEROLAL</option>
		<option value="260">OKARA</option>
		<option value="408">PABBI</option>
		<option value="90">PADIDAN</option>
		<option value="737">PAI KHEL</option>
		<option value="1049">PAKHOWAL</option>
		<option value="497">PAKPATTAN</option>
		<option value="469">PALH</option>
		<option value="1082">PANJ PULLA (HALT)</option>
		<option value="127">PANO AKIL</option>
		<option value="522">PARCHE-JI-VERI</option>
		<option value="820">PASRUR</option>
		<option value="277">PATTOKI</option>
		<option value="1134">PEJOWALI</option>
		<option value="412">PESHAWAR CANTT</option>
		<option value="411">PESHAWAR CITY</option>
		<option value="1045">PHULARWAN</option>
		<option value="438">PIARO GOTH (HALT)</option>
		<option value="1048">PIND MUKKO (HALT)</option>
		<option value="619">PIPLAN</option>
		<option value="1102">PIR MAHAL</option>
		<option value="530">PITHORO JN</option>
		<option value="1111">QILA SHEIKHUPURA</option>
		<option value="793">QUETTA</option>
		<option value="444">RADHAN</option>
		<option value="151">RAHIM YAR KHAN</option>
		<option value="283">RAIWIND JN.</option>
		<option value="1029">RAJANPUR</option>
		<option value="28">RAN PETHANI</option>
		<option value="105">RANIPUR RIYASAT</option>
		<option value="1243">RASHIDABAD</option>
		<option value="1240">RATTO KALA</option>
		<option value="384">RAWALPINDI</option>
		<option value="1239">RAYA KHAS</option>
		<option value="1244">REHMANI NAGAR</option>
		<option value="550">RIAZABAD</option>
		<option value="123">ROHRI JN.</option>
		<option value="1088">RURALA ROAD</option>
		<option value="988">RUSTAM SARGANA</option>
		<option value="527">SADHAR (HALT)</option>
		<option value="323">SADHOKE</option>
		<option value="148">SADIKABAD </option>
		<option value="1219">SAFDARABAD</option>
		<option value="946">SAHIANWALA</option>
		<option value="255">SAHIWAL</option>
		<option value="553">SAINDAD</option>
		<option value="166">SAMASATA JN.</option>
		<option value="981">SAMBRIAL</option>
		<option value="581">SANAWAN</option>
		<option value="1214">SANGLA HILL</option>
		<option value="1065">SARGODHA JN.</option>
		<option value="73">SARHARI</option>
		<option value="1089">SARWAR SHAHEED (HALT)</option>
		<option value="429">SEHWAN SHARIF</option>
		<option value="901">SERAI SALEH</option>
		<option value="104">SETHARJA</option>
		<option value="554">SHADIPALLI</option>
		<option value="997">SHAH JEWANA</option>
		<option value="454">SHAH NAWAZ BHUTTO</option>
		<option value="998">SHAH NIKDUR</option>
		<option value="71">SHAHDADPUR</option>
		<option value="307">SHAHDARA BAGH JN.</option>
		<option value="1007">SHAHINABAD JN.</option>
		<option value="795">SHEIKH MANDAH</option>
		<option value="44">SHELABAGH</option>
		<option value="542">SHER SHAH JN.</option>
		<option value="712">SHIKARPUR</option>
		<option value="1104">SHORKOT CANTT JN.</option>
		<option value="538">SHUJABAD</option>
		<option value="815">SIALKOT JN.</option>
		<option value="753">SIBI JN.</option>
		<option value="1004">SILLANWALI</option>
		<option value="417">SIND UNIVERSITY</option>
		<option value="979">SODHRA KOPRA</option>
		<option value="767">SOHAN BRIDGE</option>
		<option value="1000">SOHBAGA</option>
		<option value="1123">SRIRAMPURA</option>
		<option value="558">SUGAR MILL (HALT)</option>
		<option value="965">SUKHEKE</option>
		<option value="705">SUKKUR</option>
		<option value="787">SULAIMANABAD</option>
		<option value="470">TALHAR</option>
		<option value="1092">TANDLIAWALA</option>
		<option value="69">TANDO ADAM  </option>
		<option value="565">TANDO ALAHYAR</option>
		<option value="568">TANDO JAM</option>
		<option value="465">TANDO MUHAMMAD KHAN</option>
		<option value="1245">TARNOUL  </option>
		<option value="1195">TAXILA CANTT</option>
		<option value="926">TOBA TEK SINGH</option>
		<option value="773">UCHHRI</option>
		<option value="983">UGOKDE</option>
		<option value="888">USMAN KHATTAR</option>
		<option value="510">USMANWALA</option>
		<option value="520">VASAR BAH</option>
		<option value="484">VIHARI</option>
		<option value="1252">WAGAH</option>
		<option value="303">WALTON</option>
		<option value="1077">WARBURTON</option>
		<option value="987">WARYAM</option>
		<option value="333">WAZIRABAD JN</option>
		<option value="801">YARU</option>
		<option value="536">ZARIF SHAHID</option>
		<option value="460">ZEAL PAK</option>
		<option value="1254">ZERO POINT</option>
</select>