<div class="modal" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 id="modal-title" class="modal-title">Reserved Packages</h4>
      </div>
      <div class="col-md-12 modal-body">
    <div >
      <section ng-show="showlist" class="panel panel-primary">
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th"></span>Reserved packages</strong>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Sender</th>
                  <th>receiver</th>
                  <th>tracking no</th>
                  <th>weight</th>
                  <th>addressline</th>
                  <th>cost</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="package in packages">
                  <td>{{package.sender}}</td>
                  <td>{{package.receiver}}</td>
                  <td>{{package.trackId}}</td>
                  <td>{{package.weight}}</td>
                  <td>{{package.address}}</td>
                  <td>{{package.price}} pkr</td>
                  <td><button class="btn btn-sm btn-info" ng-click="editPackage(package, $index)">
            <span class="glyphicon glyphicon-edit"></span>
          </button></td>
                </tr>

              </tbody>
            </table>
          </div>
        </section>  
    <section ng-show="shownew"  class="panel panel-primary">
      <div class="panel-heading">
        <strong>
          <span class="glyphicon glyphicon-th"></span>Change Package Information</strong>
          <div class="pull-right header-buttons">
          </div>
        </div>
        <div class="panel-body"">
        <strong>Package Track ID: {{package.trackId}}</strong>
          <div class="text-center">
            <form  id="register-form" role="form">
              <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" class="form-control"  ng-model = "package.sender" placeholder="sender Name" value="">
              </div>
              <div class="form-group">
                <input type="text"  class="form-control" ng-model="package.receiver" placeholder="receiver name">
              </div>
              <div class="form-group">
                <input type="Number" ng-model="package.weight" tabindex="2" class="form-control" placeholder="weight">
              </div>
              <div class="form-group">
                <input type="text" ng-model="package.address"  class="form-control" placeholder="Address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="package.city" placeholder="City" value="">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="package.region" placeholder="Region" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="package.mobile" placeholder="reciver Number" >
              </div>
              <div class="form-group">
                <textarea type="text" rows="6" class="form-control" ng-model="package.detail" placeholder="Details/description"></textarea>
              </div>
              <label>Current status: {{package.status}}</label>
              <div class="form-group">
              <label>change Status:</label>
              <select
              class="form-control col-md-6"
              ng-options="status.name as status.name  for status in statuses"
                ng-model="package.newStatus"
                ng-change="Addreport()">
              </select>
              </div>
              <div class="form-group">
                <div class="row">
                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section ng-show='outcome' class="panel panel-primary">
        <div class="panel-body">
          <p> Current Status: <strong>{{package.newStatus}}</strong></p><hr>
          <p>Sender: {{package.sender}}</p><hr>
          <p>Tracking no:  {{package.trackId}}</p><hr>
          <p>weight:  {{package.weight}}</p><hr>
          <p>Addressline:  {{package.address}}</p><hr>
          <p>Cost:{{package.price}}</p>
        </div>
        <strong>Please fill package outcome report</strong>
        <div  ng-show="delivery" class="form-group">
        <input  type="text" class="form-control" ng-model="report.received_by" placeholder="Package received by" >
        </div>
        <div ng-show="delivery"  class="form-group">
          <input type="text" class="form-control" ng-model="report.receiver_cinc" placeholder="reciver CNIC" >
        </div>
        <div ng-show="noAproval"  class="form-group">
        <label>Why you are not Approving</label>
        <textarea type="text" rows="6" class="form-control" ng-model="report.description" placeholder="Details Why Not approved!"></textarea>
        </div>
      </section>
</div>
      </div>
      <div class="modal-footer">
        <button ng-show="shownew" class="btn btn-success pull-right" ng-click="updatePackage()"> Submit</button>
        <button ng-show="shownew" ng-click="showListPage() " class="btn btn-primary pull-right"> Cancel</button>
         <button ng-show="showlist" class="btn btn-primary" data-dismiss="modal">Close</button>
         <button ng-show="outcome" class="btn btn-primary" data-dismiss="modal">cancel</button>
         <button ng-show="outcome" class="btn btn-success" ng-click="submitreport()">Submitreport</button>
      </div>
    </div>

  </div>
</div>