<section class="panel panel-primary">
<div class="panel-heading">
	<strong>
		<span class="glyphicon glyphicon-th"></span>Trains Schedule</strong>
		<div class="pull-right header-buttons">
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Trains Name</th>
					<th>City</th>
					<th>Day</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Zawar Express</td>
					<td>peshawar</td>
					<td>tuesday</td>
					<td>11:00 am</td>
				</tr>
				<tr>
					<td>Zawar Express</td>
					<td>Karachi</td>
					<td>friday</td>
					<td>2:00 pm</td>
				</tr>
				<tr>
					<td>shamas Express</td>
					<td>rawalpindi</td>
					<td>monday</td>
					<td>10:00 am</td>
				</tr>
				<tr>
					<td>shamas Express</td>
					<td>karachi</td>
					<td>Friday</td>
					<td>4:00 am</td>
				</tr>
				<tr>
					<td>Badar Express</td>
					<td>lahore to karachi via fsd</td>
					<td>wednesday</td>
					<td>8:00 pm</td>
				</tr>

				<tr>
					<td>Badar Express</td>
					<td>karachi</td>
					<td>Saturday</td>
					<td>11:00 am</td>
				</tr>
				<tr>
					<td>Quetta Mall</td>
					<td>rawalpindi</td>
					<td>thursday</td>
					<td>1:00 pm</td>
				</tr>
				<tr>
					<td>Quetta Mall</td>
					<td>karachi</td>
					<td>monday</td>
					<td>10:00 am</td>
				</tr>
			</tbody>
		</table>
		<p>Note: * More schedule Will be uploaded soon.</p>
	</div>
</section>